{% extends "components/drawers/drawer-left.html" %}
{% load i18n %}
{% load static %}

{% block drawerStyles %}
	<link rel="stylesheet" href="{% static 'styles/friend/friend-requests.css' %}" />
{% endblock %}

{% block drawerHeader %}
	<h2>{% trans 'Friend Requests' %}</h2>
{% endblock %}

{% block drawerContent %}
<div id="friend-requests"></div>
<div class="drawer-bottom-right-icon" data-drawer="search-friend" data-drawer-url={% url 'friend.search-friend-drawer' %}>
	<img src="{% static 'images/icons/search-friend.svg' %}" alt="Search Friend"
		data-drawer="search-friend" data-drawer-url={% url 'friend.search-friend-drawer' %}
		data-bs-toggle="tooltip" title="Search New Friend"
		/>
</div>
{% endblock %}

{% block drawerScripts %}
{% endblock %}