{% extends "components/drawers/drawer-left.html" %}

{% load static %}

{% block drawerStyles %}
	<link rel="stylesheet" href="{% static 'styles/friend/search-friend.css' %}" />
{% endblock %}

{% block drawerHeader %}
	<h2>New Friends</h2>

	<div class="back-icon" data-drawer="friend-requests" data-drawer-url={% url 'friend.requests-drawer' %}>
		<img src="{% static 'images/icons/back.svg' %}" alt="Back" />
	</div>
{% endblock %}

{% block drawerContent %}
<div id="search-friend-result"></div>
{% endblock %}

{% block drawerScripts %}
{% comment %} <script type="module" src="{% static 'js/friend/friend-requests.js' %}"></script> {% endcomment %}
{% endblock %}