{% extends "components/drawers/drawer-left.html" %}

{% load static %}

{% block drawerStyles %}
	<link rel="stylesheet" href="{% static 'styles/friend/search-friend.css' %}" />
{% endblock %}

{% block drawerHeader %}
	<h2>New Friends</h2>

	<div class="back-icon" data-drawer="friend-requests" data-drawer-url={% url 'friend.requests-drawer' %}>
		<img src="{% static 'images/icons/back.svg' %}" alt="Back" />
	</div>
{% endblock %}

{% block drawerContent %}
<div class="search-bar">
	<input 
		type="text" 
		placeholder="Search new friends..." 
		class="search-bar__input"
		oninput="searchFriend(this.value)"
	/>
	<span class="search-bar__icon">&#128269;</span>
</div>
<div id="search-friend-result"></div>
{% endblock %}

{% block drawerScripts %}
<script>
	function searchFriend(value) {
		if (value === '') {
			return;
		}
		ajax_with_auth('/api/friends/search_friend', {
			method: 'GET',
			params: {
				username: value
			},
		}).then(response => {
			if (response.status === 200) {
				return response.json();
			} else {
				return response.json().then(errorData => {
					throw new Error(errorData.error);
				});
			}
		})
		.then((data) => {
			const searchFriendResult = document.getElementById('search-friend-result');
			console.log(data);
			searchFriendResult.innerHTML = `
				<div class="new-friend-tile">
					<div class="new-friend-tile__avatar">
						<img src="${data.avatar}" alt="avatar" />
					</div>
					<div class="new-friend-tile__info">
						<div class="new-friend-tile__nickname">${
							data.nickname ?? 'Anonymous'
						}</div>
						<div class="new-friend-tile__username">@${data.user.username}</div>
					</div>
				</div>
			`;
		}).catch((error) => {
			const searchFriendResult = document.getElementById('search-friend-result');
			searchFriendResult.innerHTML = error.toString();
		});
	}
</script>
{% endblock %}