{% extends 'main.html' %}

{% load allauth i18n %}
{% block head_title %}
    {% trans "Email Addresses" %}
{% endblock head_title %}
{% block content %}
<main class="update-account layout">
    <div class="container">
    <div class="layout__box">
    <div class="layout__boxHeader">
        <div class="layout__boxTitle">
        <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
            </svg>
        </a>
        <h3>{% trans "Email Addresses" %}</h3>
        </div>
    </div>
    <div class="layout__body">
    {% if emailaddresses %}
        <h2 class="auth__tagline">{% trans 'The following email addresses are associated with your account:' %}</h2>
        {% url 'account_email' as email_url %}
        {% element form form=form action=email_url method="post" %}
            {% slot body %}
                {% csrf_token %}
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                            {% slot label %}
                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                    {% element badge tags="success,email,verified" %}
                                        {% translate "Verified" %}
                                    {% endelement %}
                                {% else %}
                                    {% element badge tags="warning,email,unverified" %}
                                        {% translate "Unverified" %}
                                    {% endelement %}
                                {% endif %}
                                {% if emailaddress.primary %}
                                    {% element badge tags="email,primary" %}
                                        {% translate "Primary" %}
                                    {% endelement %}
                                {% endif %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
            {% endslot %}
            {% slot actions %}
                <button class="btn btn--main" type="submit" name="action_primary">
                    {% trans 'Make Primary' %}
                </button>
                <button class="btn btn--main" type="submit" name="action_send">
                    {% trans 'Re-send Verification' %}
                </button>
                <button class="btn btn--main" type="submit" name="action_remove">
                    {% trans 'Remove' %}
                </button>
            {% endslot %}
        {% endelement %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% if can_add_email %}
        <a></a>
{#        <h3 class="profile__about">{% trans "Add Email Address" %}</h3>#}
        {% url 'account_email' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                <div class="form__group form__group">
                {% element fields form=form %}
                {% endelement %}
                </div>
            {% endslot %}
            {% slot actions %}
                <button class="btn btn--main" type="submit">
                    {% trans "Add Email" %}
                </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
    </div>
    </div>
    </div>
</main>
{% endblock content %}
{% block extra_body %}
    <script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected email address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
    </script>
{% endblock extra_body %}