{% extends "components/modals/modal-center.html" %}

{% load allauth account %}
{% load allauth %}
{% load socialaccount %}

{% block modalHeader %}
	<h2>42 OAuth</h2>
{% endblock %}

{% block modalAuthAltText %}
	Want username and password sign in? Click <a data-modal="signin" id="signinLink" data-modal-url={% url 'signin-modal'  %}>here</a>
{% endblock %}

{% block modalContent %}
	<form method="post" action="{% provider_login_url "42" process="login" %}">
		{% csrf_token %}
		<div class="center">
			<button type="submit" class="submit-button">42 Login</button>
		</div>
	</form>
{% endblock %}