{% extends "components/modals/modal-center.html" %}
{% load i18n %}

{% block modalHeader %}
	<h2>{% trans 'Change Password' %}</h2>
{% endblock %}

{% block modalContent %}
	<form id="signin-form" class="spa-form" action="{% url 'rest_password_change' %}">
		{% csrf_token %}
        <div class="input-group">
			<label for="password">{% trans 'Old Password' %}</label>
			<input type="password" id="old_password" name="old_password1" class="form-control" required />
		</div>
		<div class="input-group">
			<label for="password">{% trans 'New Password' %}</label>
			<input type="password" id="password" name="new_password1" class="form-control" required />
		</div>
		<div class="input-group">
			<label for="confirm-password">{% trans 'Confirm New Password' %}</label>
			<input type="password" id="confirm-password" name="new_password2 " class="form-control" required />
		</div>
		<div class="center">
			<button type="submit" class="submit-button">{% trans 'Submit' %}</button>
		</div>
	</form>
{% endblock %}
