{% extends "components/modals/modal-center.html" %}
{% load i18n %}

{% block modalHeader %}
	<h2>{% trans 'Forget Password' %}</h2>
{% endblock %}

{% block modalContent %}
	<form id="signin-form" class="spa-form" action="{% url 'rest_password_reset' %}">
		{% csrf_token %}
        <div class="input-group">
			<label for="email">{% trans 'Email' %}</label>
			<input type="email" id="email" name="email" class="form-control" required />
		</div>
        <div class="center">
            <button type="submit" class="submit-button">{% trans 'Submit' %}</button>
        </div>
	</form>
{% endblock %}

