{% extends "components/modals/modal-center.html" %}

{% block modalHeader %}
	<h2>Reset Password</h2>
{% endblock %}

{% block modalContent %}
	<form id="signin-form" class="spa-form" action="{% url 'rest_password_reset_confirm' %}">
		{% csrf_token %}
        <input type="hidden" id="resetUid" name="uid" value="{{ uid }}" />
		<input type="hidden" id="resetToken" name="token" value="{{ token }}" />
		<div class="input-group">
			<label for="password">New Password</label>
			<input type="password" id="password" name="new_password1" class="form-control" required />
		</div>
		<div class="input-group">
			<label for="confirm-password">Confirm Password</label>
			<input type="password" id="confirm-password" name="new_password2 " class="form-control" required />
		</div>
		<div class="center">
			<button type="submit" class="submit-button">Submit</button>
		</div>
	</form>
{% endblock %}

{% block modalScripts %}
	<script>
		document.addEventListener('Modal-opened', function() {
			var resetUid = localStorage.getItem('resetPasswordUid');
			var resetToken = localStorage.getItem('resetPasswordToken');
			
			if (resetUid && resetToken) {
				document.getElementById('resetUid').value = resetUid;
				document.getElementById('resetToken').value = resetToken;
				
				// Clear the localStorage after using the values
				localStorage.removeItem('resetPasswordUid');
				localStorage.removeItem('resetPasswordToken');
			}
		});
	</script>
{% endblock %}
