{% extends "components/modals/modal-center.html" %}
{% load i18n %}

{% block modalHeader %}
	<h2>{% trans 'Reset Password' %}</h2>
{% endblock %}

{% block modalContent %}
	<form id="reset-password-form" class="spa-form" action="{% url 'rest_password_reset_confirm' %}">
		{% csrf_token %}
        <input type="hidden" id="resetUid" name="uid" value="{{ uid }}" />
		<input type="hidden" id="resetToken" name="token" value="{{ token }}" />
		<div class="input-group">
			<label for="password">{% trans 'New Password' %}</label>
			<input type="password" id="password" name="new_password1" class="form-control" required />
		</div>
		<div class="input-group">
			<label for="confirm-password">{% trans 'Confirm Password' %}</label>
			<input type="password" id="confirm-password" name="new_password2 " class="form-control" required />
		</div>
		<div class="center">
			<button type="submit" class="submit-button">{% trans 'Submit' %}</button>
		</div>
	</form>
{% endblock %}

{% block modalScripts %}
	<script>
		document.addEventListener('modal-opened', function() {
            var resetUid = getCookie('resetPasswordUid');
            var resetToken = getCookie('resetPasswordToken');
			
			if (resetUid && resetToken) {
				document.getElementById('resetUid').value = resetUid;
				document.getElementById('resetToken').value = resetToken;
				
				deleteCookie('resetPasswordUid');
				deleteCookie('resetPasswordToken');
			}
		});
	</script>
{% endblock %}
