{% extends "components/modals/modal-center.html" %}

{% block modalHeader %}
	<h2>Reset Password</h2>
{% endblock %}

{% block modalContent %}
	<form id="signin-form" class="spa-form" action="{% url 'rest_password_reset_confirm' %}">
		{% csrf_token %}
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" id="password" name="password1" class="form-control" required />
		</div>
		<div class="input-group">
			<label for="confirm-password">Confirm Password</label>
			<input type="password" id="confirm-password" name="password2" class="form-control" required />
		</div>
        <div class="center">
            <button type="submit" class="submit-button">Submit</button>
        </div>
	</form>
{% endblock %}

