{% extends "components/modals/modal-center.html" %}

{% block modalHeader %}
	<h2>Sign In</h2>
{% endblock %}

{% block modalAuthAltText %}
	New user? Register <a data-modal="signup" id="signupLink">here</a>
{% endblock %}

{% block modalContent %}
	<form id="signin-form" class="spa-form" action="{% url 'signin' %}">
		{% csrf_token %}
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" class="form-control" required />
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" class="form-control" required />
		</div>
		<div class="center">
			<button type="submit" class="submit-button">Submit</button>
		</div>
	</form>
{% endblock %}