{% extends "components/modals/modal-center.html" %}
{% load i18n %}

{% block modalHeader %}
	<h2>{% trans 'Sign In' %}</h2>
{% endblock %}

{% block modalAuthAltText %}
	{% translate 'New user? Register' %}<a data-modal="signup" id="signupLink" data-modal-url={% url 'base.signup-modal'  %}>here</a>
{% endblock %}

{% block modalContent %}
	<form id="signin-form" class="spa-form" action="{% url 'account_login' %}">
		{% csrf_token %}
		<div class="input-group">
			<label for="username">{% trans 'Username' %}</label>
			<input type="text" id="username" name="username" class="form-control" required />
		</div>
		<div class="input-group">
			<label for="password">{% trans 'Password' %}</label>
			<input type="password" id="password" name="password" class="form-control" required />
		</div>
        {% if otp_auth %}
            <div class="input-group otp-group">
                <label for="otp">OTP</label>
                <input type="number" id="otp" name="otp" class="form-control" required />
                <button type="button" id="send-otp-button" class="send-otp" onclick="otp_click()">{% trans 'send' %}</button>
            </div>
        {% endif %}
        <div class="center">
            <button type="submit" class="submit-button">{% trans 'Submit' %}</button>
        </div>
	</form>
    <div class="forgot-password">
        <a data-modal="signup" id="signupLink" data-modal-url={% url 'base.forget-password-modal' %}>Forgot Password?</a>
    </div>
{% endblock %}

{% block modalScripts %}
    <script>
        function otp_click() {
            const username = document.getElementById('username').value; 
            const password = document.getElementById('password').value;
            
            ajax('auth/send-otp', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: username, password: password }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                } else {
                    alert('OTP sent to your email!');
                }
            })
            .catch(error => {
                alert('Error requesting OTP. Please try again.');
            });
        }
    </script>
{% endblock %}
