<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="AIsPong - Play pong against AI opponents and join tournaments. Improve your skills and compete with players worldwide." />
    <meta name="keywords" content="AIsPong, pong game, AI opponent, online tournament, multiplayer game" />
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/not-found.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/snow.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/message.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/toast.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/components.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/loading.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js" defer></script>
    <title>AIsPong - Play Pong Against AI | Online Tournaments</title>
      
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebApplication",
      "name": "AIsPong",
      "url": "{{ request.build_absolute_uri }}",
      "description": "Play Pong against AI opponents and join online tournaments. Improve your skills and compete with players worldwide.",
      "applicationCategory": "Game",
      "operatingSystem": "Web Browser",
      "offers": {
        "@type": "Offer",
        "price": "0"
      }
    }
    </script>
      
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" defer></script>
    <script type="module" src="/static/js/script.js" defer></script>
    <script type="module" src="/static/js/utils.js" defer></script>
    <script type="module" src="/static/js/oauth.js" defer></script>
    <script type="module" src="/static/js/message.js" defer></script>
    <script type="module" src="/static/js/toast.js" defer></script>
    <script type="module" src="/static/js/websocket.js" defer></script>
    <script type="module" src="/static/js/chat/chat.js" defer></script>
    <script type="module" src="/static/js/spa/modal.js" defer></script>
    <script type="module" src="/static/js/spa/drawer.js" defer></script>
    <script type="module" src="/static/js/spa/form.js" defer></script>
    <script type="module" src="/static/js/notification.js" defer></script>
    <script type="module" src="/static/js/loading.js" defer></script>
    <script type="module" src="/static/js/onlineStatus.js" defer></script>
    <script type="module" src="/static/js/friend/frLiveUpdate.js" defer></script>
    <script type="module" src="/static/js/pong/tournament.js" defer></script>  
  </head>

  <body>
    {{ messages|serialize_flash_messages|json_script:"flash-messages" }}

    {% if modals_and_drawers %}
      {% for item in modals_and_drawers %}
        <input type="hidden" class="auto-open" value="{{ item.type }}" data-url="{{ item.url }}" data-name="{{ item.name }}" data-params="{{ item.data|default:''|safe }}" />
      {% endfor %}
    {% endif %}

    <div id="message-container"></div>

    <div id="root"></div>

    <div id="modal-container"></div>

    <div id="drawer-container"></div>

    <div id="toast-container"></div>
    
    {% if store_reset_params %}
    <script>
      // Store UID and token in localStorage
      document.cookie = 'resetPasswordUid={{ uid }}';
      document.cookie = 'resetPasswordToken={{ token }}';
    </script>
    {% endif %}
  </body>
</html>
