<!DOCTYPE html>
{% load static %}
{% load custom_filters %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/not-found.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/message.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/components.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/loading.css' %}" />

    <title>AIsPong</title>
  </head>

  <body>
    {{ messages|serialize_flash_messages|json_script:"flash-messages" }}

    <div id="message-container"></div>

    <div id="root"></div>

    <div id="modal-container"></div>

    <div id="drawer-container"></div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="module" src="{% static 'js/script.js' %}"></script>
    <script type="module" src="{% static 'js/utils.js' %}"></script>
    <script type="module" src="{% static 'js/oauth.js' %}"></script>
    <script type="module" src="{% static 'js/message.js' %}"></script>
    <script type="module" src="{% static 'js/websocket.js' %}"></script>
    <script type="module" src="{% static 'js/chat.js' %}"></script>
    <script type="module" src="{% static 'js/spa/modal.js' %}"></script>
    <script type="module" src="{% static 'js/spa/drawer.js' %}"></script>
    <script type="module" src="{% static 'js/spa/form.js' %}"></script>
    <script type="module" src="{% static 'js/notification.js' %}"></script>
    <script type="module" src="{% static 'js/loading.js' %}"></script>
    <script type="module" src="{% static 'js/onlineStatus.js' %}"></script>
    <script type="module" src="{% static 'js/friend/frLiveUpdate.js' %}"></script>
  </body>
</html>
