{% extends "components/drawers/drawer-left.html" %}

{% load static %}

{% block drawerStyles %}
	<link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
{% endblock %}

{% block drawerHeader %}
	<h2>Profile</h2>
{% endblock %}

{% block drawerContent %}
	<div class="profile-info">
		<div class="profile-info-item">
			<img src="{% static 'images/avatar.svg' %}" alt="Profile Image" width="100" height="100" />
		</div>
		<div class="profile-info-item">
			<p>@{{ user.username }}</p>
		</div>
		<div class="profile-info-item">
			<p>#{{ user.email }}</p>
		</div>
	</div>
{% endblock %}