{% extends "components/drawers/drawer-left.html" %}

{% load static %}

{% block drawerStyles %}
	<link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
{% endblock %}

{% block drawerHeader %}
	<h2>Edit Profile</h2>
{% endblock %}

{% block drawerContent %}
	<form id="profile-form" action="{% url 'profile.detail' %}" class="spa-form" method="PUT">
		<div class="form-group">
			<label for="nickname">Nickname</label>
			<input type="text" id="nickname" name="nickname" value="{{ user.profile.nickname }}" class="form-control">
		</div>
		<div class="form-group">
			<label for="bio">Bio</label>
			<textarea id="bio" name="bio" class="form-control">{{ user.profile.bio }}</textarea>
		</div>
		<button type="submit" class="btn btn-success" onclick="closeDrawer()">Save</button>
	</form>
{% endblock %}

{% block drawerScripts %}
{% endblock %}