{% extends "components/drawers/drawer-left.html" %}
{% load i18n %}
{% load static %}

{% block drawerStyles %}
	<link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
{% endblock %}

{% block drawerHeader %}
	<h2>{% trans 'Profile' %}</h2>
{% endblock %}

{% block drawerContent %}
	<div class="profile-info" style="max-height: 90%; overflow-y: auto;">
		<div class="profile-info-item">
			<img src="{{ user.profile.get_avatar_url }}" alt="Profile Image" class="profile-avatar" />
			<span class="edit-icon" onclick="document.getElementById('avatar-input').click()">✏️</span>
			<form id="avatar-form" action="{% url 'profile.detail' %}" class="spa-form" method="PUT" style="display: none;">
				<input type="file" id="avatar-input" name="avatar" accept="image/*" onchange="handleAvatarChange(event)">
				<input type="submit">
			</form>
		</div>
		<div class="profile-info-item">
			<p class="profile-nickname">{{ user.profile.nickname }}</p>
		</div>
		<div class="profile-info-item">
			<p class="profile-username">@{{ user.username }}</p>
		</div>
		<div class="profile-info-item">
			<p class="profile-email">{{ user.email }}</p>
		</div>
		<div class="profile-info-item">
			<p class="profile-joined">Joined: {{ user.date_joined|date:"d M Y" }}</p>
		</div>
		<div class="profile-info-item">
            <p class="profile-bio">
				{% if friend_profile.bio %}
					{{ friend_profile.bio }}
				{% else %}
					{% trans "This user didn't say anything" %}
				{% endif %}
			</p>
		</div>
		<div class="profile-info-item">
			<p class="">{% trans 'Total Games:' %} {{ total_games }}, {% trans 'Win Rate:' %} {{ win_rate }}%</p>
		</div>
		<div class="profile-info-item">
			<div class="card">
				<div class="card-header">
					Game Outcomes
				</div>
				{% if total_games > 0 %}
				<div class="card-body">
					<canvas id="gameOutcomesChart" data-wins="{{ wins }}" data-losses="{{ losses }}"></canvas>
				</div>
				{% endif %}
			</div>
		</div>

		<button id="see-match-history-btn" class="btn btn-primary" data-drawer="match-history" data-drawer-url="{% url 'pong.match-history-drawer' %}">{% trans 'See Match History' %}</button>

		<button id="edit-profile-btn" class="btn btn-primary" data-drawer="profile-edit" data-drawer-url="{% url 'profile-edit.drawer' %}">{% trans 'Edit Profile' %}</button>
	</div>
{% endblock %}

{% block drawerScripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	function handleAvatarChange(event) {
		const avatarInput = event.target;
		const avatarForm = document.querySelector('#avatar-form');
		const file = avatarInput.files[0];
		const maxSize = 1024 * 1024; // 1 MB in bytes
		const closeLoadingEffect = showLoadingEffect();

		if (file) {
			if (!file.type.startsWith('image/')) {
				alert("{% trans 'Please select a valid image file.' %}");
				avatarInput.value = ''; // Clear the file input
			} else if (file.size > maxSize) {
				alert("{% trans 'The selected file is too large. Please select a file smaller than 1 MB.' %}");
				avatarInput.value = ''; // Clear the file input
			} else {
				previewAvatar(event); // Preview the selected image
				avatarForm.querySelector('input[type="submit"]').click(); // Submit the form
			}
		}
		closeLoadingEffect();
	}

	function previewAvatar(event) {
		const closeLoadingEffect = showLoadingEffect();
		const reader = new FileReader();
		reader.onload = function() {
			const output = document.querySelector('.profile-avatar');
			output.src = reader.result;
		};
		reader.readAsDataURL(event.target.files[0]);
		closeLoadingEffect();
	}
    
</script>
{% endblock %}