{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'styles/pong.css' %}" />
    <title>Pong by Clonie</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body style="background-color: rgb(42, 42, 42);">
    <div id="gameContainer">
        <!-- <h1>Pong Game</h1> -->
        <canvas id="gameCanvas" height="500" width="750"></canvas>
        <div id="scoreBoard">0 : 0</div>
        <button id="resetButton">Reset</button>
        <button id="pauseButton">Pause</button>
        <div>
            <select id="gameMode">
                <option value="Player">Player</option>
                <option value="Computer">Computer</option>
            </select>
            <!-- <select id="difficulty">
                <option value="Easy">Easy</option>
                <option value="Normal">Normal</option>
                <option value="Hard">Hard</option>
            </select> -->
        </div>
    </div>
    <!-- <script src="script.js"></script> -->
    <script type="module" src="{% static 'js/pong.js' %}"></script>
</body>
</html>
{% endblock %}