.public-chat {
	padding: 10px;
}

.public-chat h3 {
	font-family: 'Denk One', sans-serif;
	font-size: 24px;
}

.chat-list-item {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
	background-color: #befafa;
}

.chat-image {
	margin-right: 15px;
}

.chat-image img {
	border-radius: 50%;
}

.chat-details {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.chat-name {
	font-weight: bold;
	font-size: 16px;
	color: #18c9c9;
}

.chat-time {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
	color: #000;
	font-family: 'Denk One', sans-serif;
}

.last-message-container {
	display: flex;
	align-items: center;
}

.last-message-sender,
.last-message {
	font-size: 14px;
	color: #1e4141;
}

.last-message-sender {
	margin-right: 10px; /* Add some space between sender and message */
	font-weight: bold; /* Optional: make the sender's name bold */
}

.last-message {
	flex: 1; /* Allow the message to take up the remaining space */
}
