.chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.chat-messages {
	flex: 1;
	padding: 10px;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	scroll-snap-type: y proximity;
	background-color: var(--color-text-5);
	min-height: 300px; /* Set a minimum height to prevent shrinking */
	position: relative;
}

.chat-input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
	background-color: var(--color-brand-5);
	gap: 5px;
}

.chat-input .pong-invite-icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.chat-input input {
	flex: 1;
	padding: 10px;
	border: 1px solid var(--color-brand-1);
	border-radius: 5px;
	margin-right: 10px;
	outline: none;
}

.chat-input button {
	padding: 10px 20px;
	background-color: var(--color-brand-5);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.chat-input button:hover {
	background-color: var(--color-brand-6);
}

#loading-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.chat-room__message {
	display: flex;
	align-items: flex-start;
	flex-direction: colomn;
	gap: 5px;
	margin: 10px 0;
}

.chat-room__message-sent {
	justify-content: flex-start;
	flex-direction: row-reverse;
}

.chat-room__message-received {
	justify-content: flex-start;
}

.chat-room__avatar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5px;
}

.chat-room__message-sent .chat-room__avatar-container {
	margin-left: 5px;
	margin-right: 0;
}

.chat-room__avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.chat-room__nickname {
	font-weight: bold;
	margin-bottom: 2px;
}

.chat-room__message-bubble {
	max-width: 60%;
	min-width: 20%;
	padding: 0.5em 1em;
	border-radius: 10px;
	background-color: var(--color-text-1);
	margin-top: auto;
	color: black;
	text-align: left;
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	overflow: hidden;
}

.chat-room__message-sent .chat-room__message-bubble {
	background-color: var(--color-brand-5);
}

.chat-room__message-received .chat-room__message-bubble {
	background-color: var(--color-brand-1);
}

.chat-room__timestamp {
	font-size: 0.8em;
	color: var(--color-text-3);
	align-self: flex-end;
}
