.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #869D9D;
    min-height: 300px; /* Set a minimum height to prevent shrinking */
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
}

.chat-row {
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    overflow-wrap: break-word; /* Break long words onto the next line */
    word-wrap: break-word; /* For older browsers */
    max-width: 100%; /* Adjust as needed */
    background-color: #00b3b3;
  }

/* .chat-message.sent {
    background-color: #d1e7dd;
    align-self: flex-end;
}

.chat-message.received {
    background-color: #f8d7da;
    align-self: flex-start;
} */

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #1EDDDD;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #E5FCFC;
    border-radius: 5px;
    margin-right: 10px;
	outline: none;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}