.submit-button {
	box-sizing: border-box;

	width: 200px;
	height: 42px;

	background: #1edddd;
	border: 1px solid #83def7;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;

	font-family: 'Denk One', sans-serif;
	font-style: bold;
	font-size: 24px;
	color: #e5f7fc;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-button {
	border: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 12px;
	width: 280px;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.oauth-button {
	background-color: #e4eded;
	color: black;
}

.signin-button {
	background-color: #83def7;
	color: #e4eded;
	font-size: 32px;
	font-family: 'Denk One', sans-serif;
}

.sidebar-icon {
	cursor: pointer;
}

.pvp-button {
	background-color: #83def7;
	color: #e4eded;
	font-size: 32px;
	font-family: 'Denk One', sans-serif;
}

.pve-button {
	background-color: #eec120;
	color: #e4eded;
	font-size: 32px;
	font-family: 'Denk One', sans-serif;
}
