.submit-button {
	box-sizing: border-box;

	width: 200px;
	height: 42px;

	background: var(--color-brand-5);
	border: 1px solid var(--color-info-3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;

	font-family: 'Denk One', sans-serif;
	font-style: bold;
	font-size: 24px;
	color: var(--color-info-1);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-button {
	border: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 12px;
	width: 280px;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.oauth-button {
	background-color: var(--color-text-1);
	color: black;
}

.signin-button {
	background-color: var(--color-info-3);
	color: var(--color-text-1);
	font-size: 32px;
	font-family: 'Denk One', sans-serif;
}

.pvp-button {
	background-color: var(--color-info-3);
	color: var(--color-text-1);
	font-size: 32px;
	font-family: 'Denk One', sans-serif;
}

.pve-button {
	background-color: var(--color-warning-5);
	color: var(--color-text-1);
	font-size: 32px;
	font-family: 'Denk One', sans-serif;
}

.clickable {
	cursor: pointer;
}

.close-button {
	border: none;
	cursor: pointer;
}

.underline-text {
	text-decoration: underline;
}
