.drawer-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
}

.drawer-overlay.drawer-active {
	visibility: visible;
	opacity: 1;
}

.drawer-container {
	display: flex;
	flex-direction: column; /* Ensure children are arranged vertically */
	height: var(--drawer-height);
	width: var(--drawer-width);
	position: fixed;
	top: 50%;
	left: calc(-1 * var(--drawer-width)); /* Hide the drawer initially */
	background-color: var(--drawer-bg-color);
	overflow-x: hidden;
	transition: left 0.5s ease; /* Transition effect */
	padding-top: 20px;
	color: white;
	transform: translateY(-50%); /* Center the drawer vertically */
	border-radius: 0 32px 32px 0;
}

.drawer-container.drawer-active {
	left: 0; /* Show the drawer */
}

.drawer-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 20px 10px;
}

.drawer-header h2,
h3 {
	margin: 0;
	color: white;
	font-family: 'Denk One', sans-serif;
}

.drawer-header h2 {
	font-size: 48px;
}

.drawer-header h3 {
	font-size: 28px;
}

.drawer-body {
	flex: 1; /* Take up the remaining space */
	overflow: hidden; /* Prevent overflow */
}

.drawer-bottom-right-icon {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%; /* Make it circular */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.back-icon {
	display: flex;
	align-items: center;
	margin-right: 20px;
	cursor: pointer;
}

.back-icon img {
	display: block;
}

.search-bar {
	display: flex;
	align-items: center;
	background-color: var(--color-info-2);
	border: 1px solid var(--color-text-5);
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}

.search-bar__input {
	flex-grow: 1;
	border: none;
	background-color: transparent;
	color: var(--color-text-9); /* Text color */
	padding: 5px;
	outline: none;
}

.search-bar__input::placeholder {
	color: var(--color-text-5); /* Prompt text color */
}

.search-bar__icon {
	color: var(--color-text-5); /* Icon color */
	margin-left: 5px;
}
