.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
}

.modal-overlay.modal-active {
	visibility: visible;
	opacity: 1;
}

.modal-container {
	position: fixed;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e5f7fc;
	border: 2px solid #83def7;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 32px;
	width: 720px;
	height: 650px;
	transition: top 0.5s ease;
}

.modal-container.modal-active {
	top: 50%;
}

.modal-close-btn {
	border: none;
	line-height: 18px;
	float: right;
	font-size: 28px;
	cursor: pointer;
}

.modal-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.modal-header h2 {
	margin: 0;
	font-size: 64px;
	color: #010c0c;
	font-family: 'Denk One', sans-serif;
}

.modal-body {
	margin-bottom: 20px;
}

.input-group {
	position: relative;
	margin: 20px 0; /* Adjust spacing around each form group */
}

.input-group label {
	position: absolute;
	font-family: 'Denk One', sans-serif;
	top: -10px; /* Adjust to move label up to overlay on input's top border */
	left: 10px; /* Adjust based on padding of input to align with text start */
	background-color: #e5f7fc; /* Match the form or page background */
	padding: 0 5px; /* Add some padding around the label text */
	z-index: 6; /* Ensure the label is on top of the input */
}

.input-group input {
	background-color: #e6f7ff; /* Light blue background */
	border: 3px solid #4fcdf0; /* Blue border */
	border-radius: 4px; /* Rounded corners for the input box */
	padding: 10px; /* Padding inside the input box */
	width: 100%; /* Full width of its parent */
	box-sizing: border-box; /* Include padding and border in the element's total width and height */
	/* z-index: 5; */
}

.input-group input:focus {
	background-color: transparent;
}

.auth-alt-text {
	text-align: center;
	color: black;
	font-family: 'Denk One', sans-serif;
}

#signupLink, #signinLink {
	color: #1fb5e4;
	text-decoration: underline;
	cursor: pointer;
}
