.profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-info-item {
	display: block;
	margin: 2px 0;
	text-align: center;
}

.profile-info-item p {
	margin: 0;
	font-size: 18px; /* Adjust as needed */
}
