.sidebar-wrapper {
	position: absolute;
	top: 50%;
	left: 20px;
	width: 100px;
	height: 500px;
	transform: translateY(-50%);
}

.sidebar {
	position: fixed;
	top: 50%;
	left: 20px;
	/* width: 80px; */
	/* height: 430px; */
	background-color: var(--color-info-3);
	transform: translateY(-50%);
	animation: float 2s ease-in-out infinite;
	border-radius: 24px;
	overflow: hidden;

	/* Ensure the sidebar is on top of all snowflakes */
	z-index: 1000;

	/* for centering */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10px;
}

.sidebar-normal {
	width: 10px;
	height: 300px;
	transition: width 0.3s ease;
}

.sidebar-locked {
	width: 80px;
	height: 430px;
	cursor: pointer;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(-50%) translateX(0); /* Start and end at the original position */
	}
	50% {
		transform: translateY(-50%) translateX(20px); /* Move 20px to the right */
	}
}

@keyframes vibrate {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(-6deg);
	}
	72% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0);
	}
}

.sidebar:hover {
	animation: none; /* Stop the floating animation */
}

.sidebar:hover #sidebar-lock {
	animation: vibrate 0.1s ease-in-out infinite;
}

/* State of the sidebar when hovered */
.sidebar-wrapper:hover .sidebar {
	width: 90px; /* Adjust the width as needed */
}

/* Inner divs initially hidden */
.sidebar div {
	opacity: 0;
	transition: opacity 0.3s ease; /* Smooth transition for the opacity */
}

/* Inner divs visible when sidebar is hovered */
.sidebar:hover div {
	opacity: 1;
}

.sidebar-option {
	width: 42px;
	height: 42px;
}

.sidebar-option img {
	width: 100%;
	height: 100%;
	transition: all 0.2s ease;
}

.sidebar-option img:hover {
	transform: scale(1.25);
}
