{% load static %}

<link rel="stylesheet" href="{% static 'styles/home-page.css' %}" />
<link rel="stylesheet" href="{% static 'styles/sidebar.css' %}" />
<link rel="stylesheet" href="{% static 'styles/signin-buttons.css' %}" />

<div class="snow-container"></div>

<h1 class="logo">IcePong</h1>

{% if user.is_authenticated %}
	<h1>Welcome, {{ user.username }}</h1>
	<form id="signout-form" method="post" action="{% url 'signout' %}">
        {% csrf_token %}
        <button type="submit" id="logout-button" class="signin-button">Logout</button>
    </form>
{% else %}
	<div class="sidebar sidebar-locked" data-modal="signin">
		<img src="{% static 'images/icons/lock.svg' %}" id="sidebar-lock" width="42px" height="42px" alt="Lock Icon" data-modal="signin">
	</div>

	<div class="center-buttons-container">
		<a class="signin-button" data-modal="signin">Sign In</a>
		<a class="oauth-button" data-modal="oauth42">
			<img src="{% static 'images/icons/42_Logo.svg' %}" width="42px" height="42px" alt="Lock Icon" data-modal="oauth42">
		</a>
	</div>
{% endif %}

{% comment %} <a href="/pong" class="btn btn-primary" data-link>Play</a> {% endcomment %}