{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/home-page.css' %}" />
<link rel="stylesheet" href="{% static 'styles/sidebar.css' %}" />

<div class="snow-container"></div>

<h1 class="logo">{% trans 'AIsPong' %}</h1>

{% if user.is_authenticated %}
	<div class="sidebar-wrapper">
		<div class="sidebar sidebar-normal">
			<div class="clickable sidebar-option">
				<img src="{% static 'images/icons/profile.svg' %}"
					width="42px" height="42px" alt="Profile Icon"
					data-drawer="profile" data-drawer-url={% url 'profile.drawer' %}
				/>
			</div>
			<div class="clickable sidebar-option">
				<img src="{% static 'images/icons/user-group.svg' %}"
					width="42px" height="42px" alt="Friend list Icon"
					data-drawer="friend-list" data-drawer-url={% url 'friend.list-drawer' %}
				/>
			</div>
			<div class="clickable sidebar-option">
				<img src="{% static 'images/icons/message.svg' %}"
					width="42px" height="42px" alt="Chat Icon"
					data-drawer="chat-list" data-drawer-url={% url 'chat.list-drawer' %}
				/>
			</div>
			<div class="clickable sidebar-option">
				<img src="{% static 'images/icons/tournament.svg' %}"
					width="42px" height="42px" alt="Pong Icon"
					onclick="openTournamentDrawer()"
				/>
			</div>
			<div class="clickable sidebar-option">
				<img src="{% static 'images/icons/settings.svg' %}"
					width="42px" height="42px" alt="Settings Icon"
					data-drawer="settings" data-drawer-url={% url 'base.settings-drawer' %}
				/>
			</div>
		</div>
	</div>

	<div class="center-buttons-container">
		<a href="{% url 'pong.pvp' %}" class="center-button pvp-button" data-link>{% trans 'PVP' %}</a>
		<a href="{% url 'pong.pve' %}" class="center-button pve-button" data-link>{% trans 'PVE' %}</a>
	</div>
{% else %}
	<div class="sidebar sidebar-locked" data-modal="signin" data-modal-url={% url 'base.signin-modal'  %}>
		<img src="{% static 'images/icons/lock.svg' %}" id="sidebar-lock"
			width="42px" height="42px" alt="Lock Icon"
			data-modal="signin" data-modal-url={% url 'base.signin-modal'  %}
		/>
	</div>

	<div class="center-buttons-container">
		<a class="center-button signin-button" data-modal="signin" data-modal-url={% url 'base.signin-modal'  %}>
			{% trans 'Sign In' %}
		</a>
		<a class="center-button oauth-button" data-modal="oauth42" data-modal-url={% url 'base.oauth42-modal' %}>
			<img src="{% static 'images/icons/42_Logo.svg' %}"
				width="42px" height="42px" alt="Lock Icon"
				data-modal="oauth42" data-modal-url={% url 'base.oauth42-modal' %}
			/>
		</a>
	</div>
{% endif %}

<script>
	function openTournamentDrawer() {
		if (window.currentUser) {
			if (window.currentUser.active_tournament_id) {
				openDrawer('tournament-room', {
					url: '/drawer/tournament-room/',
					queryParams: { tournament_room_id: window.currentUser.active_tournament_id },
				});
			} else {
				openDrawer('tournament-list', { url: '/drawer/tournament-list/' });
			}
		}
	}
</script>