{% load static %}

<link rel="stylesheet" href="{% static 'styles/pong.css' %}" />
<link rel="stylesheet" href="{% static 'styles/home-page.css' %}" />

<div>Tournament Room: {{ room_name }}</div>
<form id="form">
    <input type="text" name="message" id="messageInput" autocomplete="off"/>
</form>
<div id="messages"></div>
<script>
    const roomName = "{{ room_name }}";
    const socket = new WebSocket('ws://' + window.location.host + '/ws/tournament/' + roomName + '/');

    socket.onopen = function() {
        console.log("WebSocket connection established " + roomName);
    }

    let form = document.getElementById('form');
    form.addEventListener('button', (e)=> {
        e.preventDefault();
        let messageInput = document.getElementById('messageInput');  // Access the message input field
        let message = messageInput.value;  // Get the message text
    
        // Send the message via WebSocket
        socket.send(JSON.stringify({
            'message': message
        }));
    
        // Clear the message input field
        messageInput.value = '';
    })

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log('Data:', data);

        if (data.type === 'chat'){
            let messages = document.getElementById('messages');
            messages.insertAdjacentHTML('beforeend', `
                <div><p>${data.message}</p></div>`);
        }
    }
</script>
