{% extends 'main.html' %}

{% block chat %}

{% comment %} <main class="update-account layout"> {% endcomment %}
<main class="layout layout--3">


  <div class="message" id="message-container" content="This is where the zoomer cyberbully each other">
        
  </div>
  <div>
    
    <input type="text" name="message_input" placeholder="enter" id="txt" onKeyPress=handleMessage(event)>
    <input type="button" name="button" value="send" onclick="sendMessage()" >
    <input type="button" name="button" value="disconnect" onclick="closeConnect()" >
    <input type="button" name="button" value="reconnect" onclick="openConnect()" >

    <input type="file" id="fileInput" accept="image/*"> <!-- Input for file selection -->
    <button onclick="handleUpload()">Upload Image</button> <!-- Button to trigger upload -->
    
    <!-- <script src="js/app01/chat.js"></script> Include your script -->
  </div>

</main>



{% endblock %}