.friend-requests__list {
	max-height: 400px; /* Set the maximum height */
	overflow-y: auto; /* Enable vertical scrolling */
	overflow-x: hidden; /* Hide horizontal scrolling */
}

.friend-request-tile {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #befafa;
	border: 1px solid #657e7e;
	padding: 10px;
	box-sizing: border-box;
}

.friend-request-tile__avatar {
	flex-shrink: 0;
	margin-right: 10px;
}

.friend-request-tile__avatar img {
	width: 50px; /* Adjust the size as needed */
	height: 50px; /* Adjust the size as needed */
	border-radius: 50%;
}

.friend-request-tile__info {
	display: flex;
	flex-direction: column;
}

.friend-request-tile__nickname {
	color: #18c9c9;
	font-weight: bold;
}

.friend-request-tile__username {
	color: black;
}

.friend-request-tile__actions {
	display: flex;
	gap: 10px;
	margin-left: auto;
}

.friend-request-tile__accept,
.friend-request-tile__reject {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.5em;
	padding: 5px;
	border-radius: 50%;
	transition: background-color 0.3s;
}

.friend-request-tile__accept {
	color: #28a745;
}

.friend-request-tile__accept:hover {
	background-color: #e6f9eb;
}

.friend-request-tile__reject {
	color: #dc3545;
}

.friend-request-tile__reject:hover {
	background-color: #f9e6e6;
}

.friend-request-tile__accepted-badge,
.friend-request-tile__rejected-badge {
	background-color: transparent;
	border: none;
	cursor: default; /* Change cursor to default */
	font-size: 1em; /* Adjust font size */
	padding: 5px 10px; /* Add padding for badge-like appearance */
	border-radius: 12px; /* Rounded corners for badge */
	transition: background-color 0.3s;
	display: inline-block; /* Ensure it behaves like a badge */
	user-select: none; /* Prevent text selection */
	margin-left: auto;
}

.friend-request-tile__accepted-badge {
	color: #28a745; /* Green color for accept */
	background-color: #e6f9eb; /* Light green background */
}

.friend-request-tile__rejected-badge {
	color: #dc3545; /* Red color for reject */
	background-color: #f9e6e6; /* Light red background */
}
