.friend-list__list {
	max-height: 400px; /* Set the maximum height */
	overflow-y: auto; /* Enable vertical scrolling */
	overflow-x: hidden; /* Hide horizontal scrolling */
}

.friend-list-tile {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #befafa;
	border: 1px solid #657e7e;
	padding: 10px;
	box-sizing: border-box;
}

.friend-list-tile__action {
	display: flex;
	gap: 10px; /* Space between icons */
	margin-left: auto;
}

.icon-action {
	font-size: 1.5em; /* Make icons bigger */
	text-decoration: none;
	cursor: pointer;
}

.icon-action[title='Chat'] {
	color: #0ccc1f;
}

.icon-action[title='Chat']:hover {
	color: #0a8f17;
}

.icon-action[title='View Profile'] {
	color: #18c9c9;
}

.icon-action[title='View Profile']:hover {
	color: #0e8f8f;
}

.friend-list-tile__avatar {
	flex-shrink: 0;
	margin-right: 10px;
}

.friend-list-tile__avatar img {
	width: 50px; /* Adjust the size as needed */
	height: 50px; /* Adjust the size as needed */
	border-radius: 50%;
}

.friend-list-tile__info {
	display: flex;
	flex-direction: column;
}

.friend-list-tile__nickname {
	color: #18c9c9;
	font-weight: bold;
}

.friend-list-tile__username {
	color: black;
}
